@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deleteRed: #f74444;
  --text-white: #fff;
}

::selection {
  background-color: #44403c;
  color: #fff;
}

/* Scrollbar CSS */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #44403c;
  border-radius: 10px;
}

/* Scrollbar CSS */

/* Tooltip CSS Starts */
.styles-module_dark__xNqje {
  background: #000 !important;
  z-index: 99999;
}

.styles-module_tooltip__mnnfp {
  padding: 4px 12px !important;
  border-radius: 6px !important;
}

/* Tooltip CSS Ends */

/* Loading Spinner CSS Starts */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #1c1917;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Loading Spinner CSS Starts */

.projectAdded:hover .projectOptions,
.tasksAdded:hover .taskOptions {
  display: flex;
}

svg {
  /* color: var(--text-white); */
  width: 18px;
  height: auto;
}

.projectOptions .editOption:hover .onHover,
.projectOptions .deleteOption:hover .onHover,
.taskDeleteOption:hover .onHover,
.taskEditOption:hover .onHover {
  display: block;
}

.projectOptions .deleteOption:hover .onHover,
.taskDeleteOption:hover .onHover {
  color: var(--deleteRed);
}

.projectOptions .editOption:hover .onNormal,
.projectOptions .deleteOption:hover .onNormal,
.taskDeleteOption:hover .onNormal,
.taskEditOption:hover .onNormal {
  display: none;
}

.addNewTask:hover svg {
  color: var(--text-white);
}

input:focus {
  outline: none;
  border: 2px solid #000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
}

input:hover,
button:hover,
textarea:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px;
}

dialog {
  min-width: 400px;
  animation: fadeIn 0.5s;
}

.tasksAdded:hover .taskTitle {
  width: 88%;
}

img {
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container_projects {
  width: 77%;
}

nav,
.dropdownContainer {
  /* box-shadow: 0px 0px 11px 7px #cacaca; */
  box-shadow: 0 2px 10px 0 rgba(51, 51, 51, 0.4);
}

aside {
  box-shadow: 0 0 6px 3px rgba(66, 71, 85, 0.15);
}

.card {
  box-shadow: 0 0 9px 3px #ddd;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    position: fixed;
    transform: translateX(-100%);
    box-shadow: 0 0 6px 3px rgba(66, 71, 85, 0.15);
  }

  .backdrop {
    background-color: rgb(28 25 23 / 0.9);
    /* opacity: 0.5; */
  }

  .taskStatusValue {
    /* position: absolute; */
    /* background: none; */
  }

  .sidebar.slide-in {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 440px) {
  .newTaskSection {
    flex-direction: column;
  }

  .newTaskSection div,
  .newTaskSection button {
    width: 100%;
  }

  dialog {
    min-width: auto;
    width: 100%;
  }
}

/* Backdrop Animations */
.backdrop {
  /* opacity: 0; */
  transition: opacity 0.3s ease-in-out;
}

.backdrop.fade-in {
  /* opacity: 1; */
}

.backdrop.fade-out {
  opacity: 0;
}

/* Sidebar Animations */
.sidebar {
  /* position: fixed; */
  height: 100vh; /* Ensures full height */
  width: 300px; /* Adjust width as needed */
  top: 0;
  left: 0;
  /* transform: translateX(-100%); */
  background-color: #1c1917; /* Adjust background color */
  transition: transform 0.3s ease-in-out;
  z-index: 50;
}

.sidebar.slide-out {
  transform: translateX(-100%);
}

/* Utility */
.hidden {
  display: none;
}

.showHideIcon {
  top: 54%;
}

/* .taskStatusValue{
  position: inherit;
} */
